@import "_nullstyle";
// ==============================================
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Light'), local('Montserrat-Light'),
		 url('../Source/fonts/Montserrat-Light.woff2') format('woff2'),
		 url('../Source/fonts/Montserrat-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'), local('Montserrat-Regular'),
		 url('../Source/fonts/Montserrat-Regular.woff2') format('woff2'),
		 url('../Source/fonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		 url('../Source/fonts/Montserrat-Medium.woff2') format('woff2'),
		 url('../Source/fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		 url('../Source/fonts/Montserrat-SemiBold.woff2') format('woff2'),
		 url('../Source/fonts/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
// ======================================================

body{
	font-family: Montserrat;
	
}
body.lock{
	overflow: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container{
	max-width: 1400px;
	padding: 0 35px;
	margin: 0 auto;
	@media (max-width: 650px) {
		padding: 0 15px;
	}
}
.content{
	flex: 1 1 auto;
}
// color
// 1C561C - зеленый

// Отдельные блоки бэм ===========

.--title {
	font-size: 43px;
	line-height: 1.3;
	@media (max-width: 600px) {
		font-size: 35px;
	}
}
.--minititle {
	font-size: 26px;
	line-height: 1.3;
}
.--subtitle{
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.7;
	text-align: center;
	color: #0A8216;	
	@media (max-width: 600px) {
		font-size: 16px;
	}
}

.--btn{
	a{
		color: #fff;
		padding: 15px 35px;
		background: #751009;
		box-shadow: -5px 5px 2px #333333;
		font-size: 18px;
		letter-spacing: 2px;
		display: inline-block;
		position: relative;
		transition: all 0.3s ease 0s;
		font-weight: 500;
		z-index: 2;
		line-height: 1.2;
		@media (max-width: 500px) {
			padding: 12px 20px;
			letter-spacing: 0;
		}
		@media (max-width: 400px) {
			font-size: 15px;
			padding: 10px;
			font-weight: 400;
		}
		&::after{
			content: '';
			position: absolute;
			background: #e3e3e3;
			top: 0;
			left: 0;

			width: 0;
			height: 100%;
			display: inline-block;
			transition: all 0.4s ease 0s;
			z-index: -1;
		}
		&:hover{
			color: #000;
			&::after{
				width: 100%;
				right: 0;
				left: auto;
			}
		}
		&:active{
			box-shadow: -3px 3px 2px #333333;
			transform: translate(1px, 1px);
		}
	}
}

//* Header + slider ====================================================


.header-main {
	position: relative;
	overflow: hidden;
	height: 100vh;
}

// mobile
.offcanvas-menu-overlay {
	display: none;
	@media (max-width: 1000px) {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 7;
		height: 100%;
		width: 100%;
		visibility: hidden;
		transition: all 0.3s ease 0s;
	}
	
 }
 .offcanvas-menu-overlay.active {
	@media (max-width: 1000px) {
		visibility: visible;
		transition: all 0.3s ease 0s;
	}
 }


.header {
	position: relative;
	z-index: 20;
	position: fixed;
	width: 100%;
	height: 150px;
	a{
		color: #000;
	}
}
.header-top {
	background: #FAFAFA;
	padding: 10px 0;
	position: relative;
	z-index: 0;
	&__row{
		display: flex;
		justify-content: space-between;
	}

		&__left {
			display: flex;
			gap: 25px;
			
		}

		&__left-item {
			font-size: 16px;
			line-height: 1.2;
			display: flex;
			align-self: center;
			position: relative;
			&::after{
				content: '';
				background: #751009;
				position: absolute;
				left: 0;
				width: 0%;
				bottom: -3px;
				height: 2px;
				transition: all 0.3s ease 0s;
				
			}
			&:hover{
				color: #751009;
				&::after{
					width: 100%;
				}
				a{
					color: #751009;
					
				}
			}
			a{
				transition: all 0.3s ease 0s;
				display: flex;
				align-items: center;
				@media (max-width: 550px) {
					span{
						display: none;
					}
					i{
						font-size: 20px;
					}
				}
			}
			& i::before{
				display: inline-block;
				margin: 5px 5px 0px 0px;
			}
		}

		&__right {
			a{
				font-size: 21px;
				transition: all 0.3s ease 0s;
				display: inline-block;
				&:hover{
					color: #751009;
					transform: scale(1.3) !important;
				}
			}

			._icon-vkontakte{
				font-size: 28px;
				margin: -3px 0px 0px 0px;
			}
		}

		&__right-social {
			display: flex;
			gap: 15px;
		}
}

.header-menu {
	background: #fff;
	padding: 10px 0;
	@media (max-width: 1000px) {
		padding: 10px 0 0;
	}
		&__row{
			display: flex;
			gap: 120px;
			align-items: center;
			@media (max-width: 1150px) {
				gap: 100px;
			}
			@media (max-width: 1000px) {
				position: fixed;
				top: 0;
				left: -100%;
				width: 450px;
				height: 100%;
				background-color: rgb(56, 56, 66);
				padding: 90px 10px 20px 10px;
				transition: all 0.3s ease 0s;
				overflow: auto;
				flex-direction: column;
				z-index: 50;
				&.burger-active{
					left: 0;
				}
				
			}
			@media (max-width: 650px) {
				width: 100%;
				display: block;
				padding: 70px 10px 20px 70px;
			}
		}
		& .logo-mobile{
			display: none;
			@media (max-width: 1000px) {
				display: block;
			}
		}
		& .logo-mobile-a{
			@media (max-width: 1000px) {
				display: none;
			}
		}
		&__logo{
			@media (max-width: 650px) {
				margin: 0px 0px 50px 0px;
			}
			img{
				width: 230px;
			}
		}
		&__list {
			display: flex;
			gap: 40px;
			@media (max-width: 1150px) {
				gap: 26px;
			}
			@media (max-width: 1000px) {
				flex-direction: column;
				gap: 70px;
				padding: 0 0 40px;
			}
			@media (max-width: 650px) {
				gap: 50px;
			}
			a{
				font-size: 24px;
				line-height: 29px;
				transition: all 0.3s ease 0s;
				position: relative;
				@media (max-width: 1100px) {
					font-size: 21px;
				}
				&::after{
					content: '';
					background: #751009;
					position: absolute;
					left: 0;
					width: 0%;
					bottom: -3px;
					height: 2px;
					transition: all 0.3s ease 0s;
					
				}
				&:hover{
					color: #751009;
					&::after{
						width: 100%;
					}
				}
				@media (max-width: 1000px) {
					font-size: 38px;
					color: #fff;
					&:hover{
						color: #fff;
						&::after{
							width: 100%;
							background: #fff;
						}
					}
				}
				@media (max-width: 650px) {
					font-size: 30px;
				}
			}
		}
		&__mobile{
			@media (max-width: 1000px) {
				display: flex;
				justify-content: space-between;
				align-items: center;
				img{
					width: 230px;
					@media (max-width: 430px) {
						width: 180px;
					}
				}
			}
			
		}
		&__mobile-image{
			display: none;
			@media (max-width: 1000px) {
				display: block;
			}
		}
		&__burger{
			display: none;
			@media (max-width: 1000px) {
				display: block;
				position: relative;
				width: 30px;
				height: 20px;
				z-index: 51;
				&::before,
				&::after{
					content: "";
					background-color: #000;
					width: 100%;
					height: 2px;
					position: absolute;
					left: 0;
					transition: all 0.3s ease 0s;
				}
				
				&::before{
					top: 0;
					
				}
				&::after{
					bottom: 0;
					
				}
				& span{
					position: absolute;
					background-color: #000;
					left: 0;
					width: 100%;
					height: 2px;
					top: 9px;
					transition: all 0.3s ease 0s;
				}
				&.burger-active::before{
					transform: rotate(45deg);
					top: 9px;
					@media (max-width: 650px) {
						background: #fff;
					}
				}
				&.burger-active::after{
					transform: rotate(-45deg);
					bottom: 9px;
					@media (max-width: 650px) {
						background: #fff;
					}
				}
				&.burger-active span{
					transform: scale(0);
				}
				&.burger-active {
					@media (max-width: 500px) {
						top: -50px;
					}
				}
			}
		}
}






// slider
.fullscrin-swiper {
	width: 100%;
	height: 100vh;
	
		&__wrapper {
			display: flex;
			min-height: 100vh;
		}

		&__slide {
			width: 100%;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.27);
				z-index: 0;
			}
		}
		&__container{
			position: relative;
			max-width: 1400px;
			margin: 0 auto;
			display: flex;
			padding: 0 35px;

		}
		&__text{
			position: absolute;
			top: 300px;
			transform: translateY(-50%);
			left: 15px;
			font-size: 35px;
			line-height: 40px;
			color: #fff;
			display: flex;
			z-index: 23;
			@media (max-width: 1200px) {
				font-size: 30px;
				line-height: 36px;
				max-width: 800px;
			}
			@media (min-height: 900px) {
				top: 450px;
			}
			@media (max-width: 900px) {
				font-size: 27px;
				line-height: 32px;
				max-width: 750px;
			}
			@media (max-width: 1000px) {
				padding: 0 50px 0 0px;
				br{
					display: none;
				}
			}
			@media (max-width: 450px) {
				font-size: 23px;
			}
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;

		}
}




//! Контент ===========================

// Туры ======================

.rent-archive {
	margin: 50px 0;

	&__content {
		display: flex;
		margin: 25px 0px 0px 0px;
		gap: 20px;
		flex-wrap: wrap;
		@media (max-width: 850px) {
			flex-wrap: wrap;
			margin: 35px 0 0 0;
		}
	}

	&__card {
		height: 350px;
		flex: 0 1 32%;
		padding: 8px;
		cursor: pointer;
  		background-color: #e3e3e3;
		transition: all 0.3s ease 0s;
		@media (max-width: 1150px) {
			flex: 1 1 48%;
			text-align: center;

		}
		@media (max-width: 850px) {
			flex: 0 1 100%;
			padding: 1em 1em 6em;
			margin: 0 !important;
		}
		@media (max-width: 500px) {
			flex: 0 1 100%;
		}
		img{
			width: 100%;
			height: 100%;
			border-radius: 2px;
			position: relative;
			z-index: 5;
			transition: all 0.5s ease 0s;
			object-fit: cover;
		}
		&:hover{
			padding: 0.7em 0.5em 6em;
			@media (max-width: 850px) {
				padding: 1em 1em 6em;
			}
			img{
				box-shadow:0 0 5px 2px #333333;
				@media (max-width: 850px) {
					margin: 0;
				}
			}
			.rent-archive__card-content{
				margin-top:0;
				opacity:1;
				visibility:visible;
				top: 0px;
			}
			.--col-span{
				font-size: 27px;
				transition: all 0.3s ease 0s;
			}
		}
	}
	:last-child.rent-archive__card{
		@media (max-width: 1150px) {
			margin: 35px 0px 0px 0px;
		}
	}
	&__card-content {
		color: #751009;
		overflow:hidden;
		position: relative;
		top: -40px;
		opacity:0;
		visibility:hidden;
		display: flex;
		transition:all .3s ease-in-out;
		@media (max-width: 850px) {
			visibility: visible;
			opacity: 1;
			position: static;
		}
		span{
			margin: 0 auto;
			padding: 8px 0;
			text-align:center;
			font-size: 24px;
			line-height: 1.3;
			display: inline-block;
			font-weight: 500;
		}
		.--col-span{
			font-size: 0px;
			padding: 0;
			@media (max-width: 850px) {
				font-size: 25px;
			}
		}
	}
}
// выездной
.main-excursions {
	position: relative;
	z-index: 0;
	&__menu{
		width: 100%;
		position: relative;
		background-size: cover;
		padding: 50px 0;
		border-radius: 8px;
		margin: 20px auto 0px auto;
		&::after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.15);
			border-radius: 8px;
		}
		.swiper-button-prev-1,
		.swiper-button-next-1{
			top: 50%;
			width: calc(var(--swiper-navigation-size)/ 44 * 27);
			height: var(--swiper-navigation-size);
			margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
			z-index: 10;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			&::after{
				font-family: swiper-icons;
				font-size: var(--swiper-navigation-size);
				text-transform: none!important;
				letter-spacing: 0;
				font-variant: initial;
				line-height: 1;
			}
		}
		.swiper-button-prev-1::after{
			content: 'prev';
		}
		.swiper-button-next-1::after{
			content: 'next';
		}
		.arrow-swiper {
			color: #fff;
			display: flex;
			position: relative;
			border: 4px solid #fff;
			padding: 25px;
			border-radius: 50%;
			transition: all 0.3s ease 0s;
			&:hover{
				color: #751009;
				border: 4px solid #751009;
			}
			@media (max-width: 480px) {
				padding: 20px;
			}
				&::after{
					font-size: 35px;
					font-weight: 600;
					@media (max-width: 480px) {
						font-size: 26px;
					}

				}
		}
	}
	&__menu-arrow{
		display: flex;
		margin: 30px 0px 0px 0px;
		gap: 250px;
		justify-content: center;
		@media (max-width: 480px) {
			gap: 130px;
		}
	}
	&__main-title{
		position: relative;
		line-height: 1.4;
		z-index: 2;
	}
		&__swiper-excursions{
			padding: 0 5px !important;
		}
		&__cards-wrapper {
			position: relative;
			z-index: 2;
			margin: 20px 0;

		}

		&__cards-item {
			position: relative;
			overflow: hidden;
			border-radius: 5px;
			transition: all 0.3s ease 0s;
			box-shadow: 0 0 0px 5px #e3e3e3;
			&:hover{
				box-shadow: none;
				img{
					transform: scale(1.1);
				 }
			}

			&::after{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.3);
				z-index: 1;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				transition: all 0.3s ease 0s;
				z-index: -1;
			}
		}

		&__cards-link {
			height: 19em;
			font-size: 1.5em;
			color: white;
			border-radius: 5px;
			padding: 15px;
			display: flex;
			align-items: flex-end;
			background-size: cover;
			background-position: center;
			transition: all 0.3s ease 0s;
			position: relative;
			overflow: hidden;
			z-index: 2;
			&::after,
			&::before {
				 position: absolute;
				 content: "";
				 transition: all 0.4s;
				 z-index: 2;
				 border-radius: 5px;
			}
			&::after {
				 width: 0%;
				 height: 100%;
				 left: 50%;
				 top: 0px;
				 border-bottom: 5px solid #751009;
				 border-top: 5px solid #751009;
			}
			&::before {
				 width: 100%;
				 height: 0%;
				 top: 50%;
				 left: 0;
				 border-left: 5px solid #751009;
				 border-right: 5px solid #751009;
			}
			&:hover {
				box-shadow: none;
				 &::after {
					  left: 0;
					  width: 100%;
				 }
				 &::before {
					  top: 0;
					  height: 100%;
				 }
				 .main-excursions__title{
					color: #751009;
				 }
					
			}
		}

		&__text-box {
			position: relative;
			padding: 25px 0 0px 0;
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			
		}
		&__title {
			font-size: 25px;
			line-height: 1.2;
			margin: 0px 0px 50px 0px;
			position: relative;
			transition: all 0.3s ease 0s;
			text-align: center;
			font-weight: 600;

		}
		&__text-row {
			position: relative;
			display: flex;
			font-size: 17px;
			border-radius: 5px;
			justify-content: space-between;
			transition: all 0.3s ease 0s;
			z-index: 3;
			flex: 1 1 auto;
		}
		

		&__row-left {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			i{
				font-size: 20px;

				
			}

		}

}
// Направления ===========================

.directions {
	margin: 60px 0;	
	&__title {
		margin: 0px 0px 40px 0px;
	}

	&__content {
		display: grid;
		grid-template-columns: 1.4fr 1fr 1fr;
		gap: 15px;
		@media (max-width: 1000px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: 580px) {
			grid-template-columns: 1fr;
		}
	}
	
	&__item {
		display: block;
		position: relative;
		transition: all 0.3s ease 0s;
		overflow: hidden;
		&:hover{
			img{
				transform: scale(1.1);
			}
			.directions__text-subtitle{
				color: #FF2D08;
			}
			&::after{
				background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
			}
		}
		img{
			width: 100%;
			height: 400px;
			object-fit: cover;
			transition: all 0.3s ease 0s;
		}
		&::after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
			transition: all 0.3s ease 0s;
		}
	}

	&__text-block {
		display: block;
		position: absolute;
		width: 100%;
		bottom: 20px;
		margin: 0px 0px 0px 20px;
		z-index: 2;

	}

	&__text-title {
		display: block;
		margin: 0px 0px 8px 0px;
		font-weight: 500;
		font-size: 19px;
		color: #fff;
		letter-spacing: 2px;
	}

	&__text-subtitle {
		display: block;
		font-size: 16px;
		color: #FF8700;
		transition: all 0.3s ease 0s;
	}
}

// Блок о компании =============


.about {
	margin: 40px 0px;
	padding: 40px 0;

	&__title {
		margin: 0px 0px 40px 0px;
	}

	&__subtitle {
		text-align: center;
		margin: 0px 0px 35px 0px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		gap: 35px;
		@media (max-width: 1050px) {
			flex-wrap: wrap;
		}
	}

	&__text {
		flex: 0 2 50%;
		font-size: 23px;
		line-height: 1.4;
		@media (max-width: 1050px) {
			flex: 0 1 100%;
			max-width: 100%;
		}
		@media (max-width: 500px) {
			font-size: 19px;
			line-height: 1.2;
		}
	}
	&__right{
		flex: 0 1 50%;
		position: relative;
		width: 100%;
		@media (max-width: 1050px) {
			flex: 0 1 100%;
		}
	}
	&__video {
		position: relative;
		border: 5px solid #e3e3e3;
		border-radius: 8px;
		cursor: pointer;
		max-height: 300px;
		
		video{
			width: 100%;
			height: 100%;
			max-height: 290px;
			object-fit: cover;
		}
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 3;
		}
		i{
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 85px;
			color: #e3e3e3;
		}
	}
	&__active{
		.about__video{
			img, i{
				display: none;
			}
		}
	}
	&__btn {
		margin: 35px 0px 0px 0px;
		
	}
	&__number {
		display: flex;
		margin: 15px 0px 0px 0px;
		gap: 15px;
		flex-wrap: wrap;
		justify-content: center;

	}

	&__number-item {
		flex: 0 1 48%;
		display: inline-block;
		background: #f0f0f0;
		border: 4px solid #e3e3e3;
		border-radius: 8px;
		padding: 15px;

		@media (max-width: 530px) {
			flex: 0 1 100%;
		}
		img{
			width: 100%;
			object-fit: cover;
			height: 100px;
		}
	}

	&__number-text {
		font-size: 20px;
		text-align: center;
		@media (max-width: 530px) {
			text-align: left;
		}
		span{
			font-size: 62px;
			display: inline-block;
			@media (max-width: 530px) {
				font-size: 45px;
			}
		}
		i{
			font-size: 62px;
			font-style: normal;
			@media (max-width: 530px) {
				font-size: 45px;
			}
		}
	}
}
// Преимущества ==============
.benefits {
	position: relative;
	z-index: 2;
	padding: 40px 0 70px;
	&::before{
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/Fon/pyatna.jpg') center no-repeat;
		background-size: cover;
		z-index: 0;
		opacity: .4;
	}
	&::after{
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.517);
	}

	
	&__title {
		position: relative;
		z-index: 2;
		color: #fff;	
	}

	&__subtitle {
		position: relative;
		z-index: 2;
		color: #FF2D08;
	}

	&__content {
		margin: 35px 0px 0px 0px;
		position: relative;
		z-index: 2;
		color: #fff;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
	}

	&__item {
		flex: 0 1 23%;
		text-align: center;
		@media (max-width: 1200px) {
			flex: 0 1 31%;
		}
		@media (max-width: 800px) {
			flex: 0 1 47.3%;
		}
		@media (max-width: 530px) {
			flex: 0 1 100%;
		}
	}

	&__item-top {
		margin: 0px 0px 18px 0px;
	}

	&__item-number {
		font-size: 70px;
		color: #FF8700;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			bottom: -10px;
			left: 50%;
			transform: translate(-50%);
			height: 2px;
			width: 28%;
			background: #FF8700;
			margin: 0 auto;

		}
		span{
			display: block;
			height: 45px;
			overflow: hidden;
		}
	}

	&__item-bottom {
	}

	&__item-text {
		font-size: 21px;
		line-height: 1.3;
		color: #fff;
	}
}




// Gallery =========================

.gallery {
	margin: 40px 0;
	&__content {
		height: 330px;
		.swiper-pagination {
			margin: 0px 0px -10px 0px !important;	
			span{
				margin: 0 auto;
				width: 11px;
				height: 11px;
				background: #751009;
				@media (max-width: 600px) {
					width: 8px;
					height: 8px;
				}
			}
		}
		.arrow-swiper{
			bottom: 0;
			background: #751009;
			margin: -40px 0;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			transition: all 0.3s ease 0s;
			&:hover{
				background: #751009d6;
				transform: scale(1.1);
			}
		}
		.arrow-swiper::after {
			font-size: 18px;
			color: #fff;
			font-weight: 900;
		}
		
	}

	&__title {
		max-width: 1400px;
		padding: 0 35px;
		margin: 0 auto;
		@media (max-width: 650px) {
			padding: 0 15px;
		}
	}

	&__subtitle {
		margin: 25px 0px 20px 0px;
		@media (max-width: 600px) {
			margin: 20px 0px 7px 0px;
		}
	}
}


.gallery-gallery {
	height: 150px !important;
	// overflow: hidden;
	// height: calc((100% - 30px) / 2) !important;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: inline-block;
	}
}





// Новости ===========================

.news {
	margin: 50px 0;	
	&__title {
		margin: 0px 0px 35px 0px;
	}

	&__content {
		display: flex;
		gap: 20px;
		@media (max-width: 1100px) {
			flex-wrap: wrap;
		}
		@media (max-width: 900px) {
			justify-content: center;
		}
	}

	&__item {
		flex: 0 1 25%;
		transition: all 0.3s ease 0s;
		&:hover{
			transform: translate(0, -10px);
			.news__item-top{
				border: 4px solid #751009;
			}
		}
		@media (max-width: 1100px) {
			flex: 0 1 31.5%;
		}
		@media (max-width: 900px) {
			flex: 0 1 47.5%;
		}
		@media (max-width: 600px) {
			flex: 0 1 100%;
		}
	}

	&__item-top {
		display: block;
		border: 4px solid #e3e3e3;
		border-radius: 8px;
		overflow: hidden;
		transition: all 0.3s ease 0s;
		img{
			width: 100%;
			border-radius: 4px;
		}
	}

	&__item-bottom {
		display: block;
		margin: 10px 0px 0px 0px;
	}

	&__item-title {
	display: block;
	font-weight: 500;
	line-height: 1.3;
	font-size: 19px;
	color: #000;
	transition: all 0.3s ease 0s;
	@media (max-width: 1200px) {
		font-size: 17.5px;
	}
	}

	&__item-data {
	display: block;
	font-size: 17px;
	line-height: 1.1;
	color: #751009;
	margin: 7px 0px 0px 0px;
	}

	&__btn {
		margin: 40px 0px 0px 0px;
	}
}

// Партнеры =====================

.partners {
	margin: 50px 0;
	&__title {
		margin: 0px 0px 30px 0px;
	}

	&__slider {
		border: 3px solid #e3e3e3;
		border-radius: 8px;
		background: #fff;
		transition: all 0.3s ease 0s;
		&:hover{
			border: 3px solid gray;
			.partners__arrow{
				border: 3px solid #e3e3e3;
				opacity: 1;
				visibility: visible;
			}
			
		}
	}
	.swiper-wrapper{
		margin: 0 auto;
		text-align: center;

	}

	&__item {
		padding: 30px 0;
	}
	&__arrow{
		opacity: 0;
		visibility: hidden;
		width: 40px !important;
		height: 40px !important;
		border-radius: 50%;
		transition: all 0.3s ease 0s;
		
	}

	.arrow-swiper {
		&:hover{
			border: 3px solid gray;
		}
		&:hover::after{
			color: gray;
		}
		&::after{
			font-size: 22px;
			color: #e3e3e3;
			font-weight: 900;
			transition: all 0.3s ease 0s;
			
		}
		
	}

}





//* Footer =========================

.footer {
	background: #333333;
	padding: 40px 0;
	color: #fff;
	a{
		color: #fff;
	}

	&__row {
		display: flex;
		gap: 50px;
		@media (max-width: 1250px) {
			gap: 30px;
		}
		@media (max-width: 1200px) {
			flex-wrap: wrap;
			justify-content: space-between;

		}
		@media (max-width: 920px) {
			justify-content: space-between;
		}
	}

	&__item {
		flex: 0 1 25%;
		a{
			font-size: 20px;
			line-height: 1.5;
			display: inline-block;
			margin: 0 0 4px;
			transition: all 0.3s ease 0s;
			position: relative;
				&::after{
					content: '';
					display: block;
					width: 0;
					height: 2px;
					background: #fff;
					position: absolute;
					bottom: 1px;
					left: 0;
					transition: all 0.3s ease 0s;
				}
				&:hover{
						
					&::after{
						width: 100%;
					}
				}
				
		}

	}
	@media (max-width: 1200px) {
		:nth-child(2).footer__item,
		:nth-child(3).footer__item{
			text-align: center;
		}
	}
	@media (max-width: 1200px) {
		:nth-child(1).footer__item{
			flex: 0 1 32%;
		}
		:nth-child(2).footer__item,
		:nth-child(3).footer__item{
			text-align: left;
			flex: 0 1 30%;
		}
		:nth-child(4).footer__item{
			text-align: center;
			flex: 0 1 100%;
			border-top: 1px solid #fff;
			padding: 10px 0 0 0;
		}
	}
	@media (max-width: 920px) {
		:nth-child(1).footer__item{
			flex: 0 1 100%;
		}
		:nth-child(2).footer__item,
		:nth-child(3).footer__item{
			flex: 0 1 46%;
			
		}
		:nth-child(2).footer__item{
			flex: 1 1 46%;
			
		}
		:nth-child(3).footer__item{
			flex: 0 1 0;
		}

	}
	@media (max-width: 500px) {
		:nth-child(2).footer__item,
		:nth-child(3).footer__item{
			flex: 0 1 100%;
		}
		:nth-child(4).footer__item{
			text-align: left;
			flex: 0 1 100%;
			border-top: 1px solid #fff;
			padding: 10px 0 0 0;
		}
	}
	&__logo {
		a{
			&::after{
				display: none;
			}
			img{
				width: 230px;
			}
		}
		
	}

	&__text {
		font-size: 19px;
		line-height: 1.3;
	}

	&__title {
		font-size: 27px;
		color: #FF8700;
		font-weight: 500;
		margin: 0px 0px 15px 0px;
	}

	&__menu {

		@media (max-width: 1100px) {
			right: 0px;
		}
	}


	&__social{
		display: flex;
		gap: 20px;
		@media (max-width: 1200px) {
			justify-content: center;
		}
		@media (max-width: 500px) {
			justify-content: start;
		}
		a{
			display: block;
			&::after{
				display: none;
			}
			&:hover{
				i{
					color: #e3e3e3;
					border: 1px solid #e3e3e3;
					transform: scale(1.2);
				}
				
			}
		}
		i{
			transition: all 0.3s ease 0s;
			display: flex;
			font-size: 30px;
			padding: 10px;
			border-radius: 50%;
			border: 1px solid #fff;
		}
		
	}
	&__box-contact{
		@media (max-width: 1200px) {
			text-align: left;
			position: relative;
			right: -50px;
			left: auto;
		}
		@media (max-width: 1200px) {
			right: 0px;
		}
		a{
			display: inline-flex;
			align-items: center;
			margin: 0px 0px 10px 0px;

		}
		a::before{
			transition: all 0.3s ease 0s;
			margin: -3px 10px 0px 0px;

		}
	}
}

